body{
  background: #32ADB6
} 
  .p-t-130 {
    padding-top: 90px;
  }

  .wrapper {
    margin: 0 auto;
    box-shadow: 0 60px 60px rgba(24, 24, 24, 0.5);

  }
  
  .wrapper--w780 {
    max-width: 400px;
  }
  .wrapper--w680 {
    max-width: 500px;
  }
  #div1
{
  margin-left: 140px;
  font-size:28px;
  margin-bottom:10px;
  /* font-family: 'Tourney', cursive; */
}#div2
{
  margin-left: 10px;
}
.form-row
{
  margin-top: 30px;
}
#div2
{
  margin-left: 120px;
}
#div3
{  margin-left: 120px;
   margin-top: 20px;
}